.header {
	height: 100px;
	width: 100%;
}

.header .header_content {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}

.header .banner_logo img{
	height: 76px;
}

.header .contact_us {
	width: 246px;
	height: 62px;
	float: right;
	margin-top: 19px;
}

.header img {
	margin: 12px 9px 0 0;
	float: left;
}

.header .tel_text {
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: rgb(102, 102, 102);
	letter-spacing: 1px;
	line-height: 150%;
	float: left;
}

.header .tel_tel {
	font-family: "Microsoft Yahei";
	color: rgb(0, 0, 0);
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 150%;
	float: left;
	font-weight: bold;
	font-style: italic;
}