body {
    padding: 0px;
    margin: 0px;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    display: block;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.swiper_box {
    width: 100%;
    margin: 0 auto;
}

.slider_box {
    width: 1900px;
    margin: 0 auto;
    overflow: hidden;
}

.focus_box {
    width: 100%;
    margin-top: -50px;
}

.focus_box .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

.focus_box .swiper-now {
    background-color: white;
}

.about_us_container {
    width: 100%;
    height: 650px;
    background-color: #F5F5F5;
}

.about_us_container .about_us {
    padding-top: 90px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.title .text {
    text-align: center;
    font-family: "Microsoft yahei";
    font-size: 34px;
    color: rgb(33, 33, 33);
}

.decoration_line {
    width: 70px;
    height: 3px;
    margin: 10px auto;
    top: -100px;
}

.decoration_line .decoration_line_left {
    width: 33px;
    height: 3px;
    background-color: #1696C5;
    float: left;
}

.decoration_line .decoration_line_right {
    width: 33px;
    height: 3px;
    background-color: #1696C5;
    float: right
}

.about_us_container .content {
    margin: 50px auto;
    width: 1200px;
}

.about_us_container .content .right_content {
    width: 630px;
    float: right;
}

.about_us_container .content .right_content .text {
    overflow-wrap: break-word;
    padding: 0;
    height: 294px;
    display: block;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: rgb(136, 136, 136);
    line-height: 250%;
}

.read_more {
    width: 168px;
    height: 38px;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 12px;
    margin-top: 20px;
}

.read_more .left_readmore {
    width: 129px;
    height: 38px;
    background-color: black;;
    float: left;
}

.read_more .right_readmore {
    width: 38px;
    height: 38px;
    margin-left: 1px;
    float: left;
    background-color: black;
}

.company_action_container {
    padding-top: 90px;
    width: 100%;
}

.company_action {
    width: 1200px;
    margin: 0 auto;
}

.company_action a {
    display: block;
}

.company_action .title {
    padding-bottom: 50px;
}

.company_action .show1{
    width: 540px;
    height: 260px;
    float: left;
}

.company_action .opacity {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: .5;
    filter:alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.company_action .small {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.company_action .bg {
    width: 100%;
    height: 100%;
    background-color: #1696c5;
    padding: 25px;
}

.company_action .content1 {
    width: 540px;
    height: 260px;
    position: absolute;
    margin-top: -260px;
    cursor: pointer;
    display: none;
}

.company_action .content2 {
    width: 300px;
    height: 260px;
    position: absolute;
    margin-top: -260px;
    cursor: pointer;
    display: none;
}

.company_action .text_show {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -260px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 260px;
}

.company_action .show2 {
    width: 300px;
    height: 260px;
    float: left;
    margin-left: 30px;
}

.company_action .show3 {
    width: 300px;
    height: 260px;
    float: left;
    margin-left: 30px;
}

.company_action .show4 {
    width: 300px;
    height: 260px;
    float: left;
    margin-top: 30px;
}

.company_action .show5 {
    width: 300px;
    height: 260px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.company_action .show6 {
    width: 540px;
    height: 260px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.banner_text_container {
    width: 750px;
    position: absolute;
    top: 190px;
    left: 125px;
    color: white;
    font-family: "Microsoft YaHei";
}

.banner_text_container .big {
    width: 750px;
    font-size: 34px;
    line-height: 170%;
    display: block;
}

.banner_text_container .small {
    font-size: 16px;
    line-height: 180%;
    color: rgb(221, 221, 221);
    display: block;
}