body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: white;
    width: 100%;
    position: fixed;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 10px;
    border-bottom: solid 1px #E1E1E1;
    font-family: Tahoma;
    font-weight: bold;
    color: #545454;
    z-index: 99;
}

.white_content {
    height: 50px;
    width: 100%;
    float: left;
}

.content {
    margin: 37px 20px 50px 5px;
    padding: 10px 5px 20px 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -ms-box-shadow: 5px 5px 5px #ccc;
    -o-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    border: dashed 2px #b5b5b5;
    background-color: white;
    float: left;
    z-index: 15;
    position: relative;
}

.content .wx_header {
    width: 50px;
    height: 50px;
    padding-right: 7px;
}

.content .wx_header img {
    width: 50px;
    height: 50px;
}

.content .wx_header_small{
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.content .wx_header_small img{
    width: 35px;
    height: 35px;
}

.content .nickname {
    color: #498B31;
    font-size: 14px;
    font-weight: normal;
}

.content .reply {
    font-size: 14px;
}

.content .nickname_small {
    color: #498B31;
    font-weight: normal;
}

.content .message {
    color: #545454;
    display: block;
    min-height: 30px;
    font-size: 14px;
    margin-top: 20px;
}

.content .date {
    color: #9B9B9B;
    font-size: 12px;
    margin-top: 5px;
}

.content .line {
    height: 1px;
    margin-top: 15px;
    background-color: #E1E1E1;
    width: 100%;
}

.content .date .reply {
    color: #498B31;
    font-size: 12px;
    margin-left: 9px;
    cursor: pointer;
}

.content .date .delete {
    color: #498B31;
    font-size: 12px;
    margin-left: 2px;
    cursor: pointer;
}

.flower_footer {
    display: block;
    width: 100px;
    margin: -90px 0px 0 0;
    right: 0px;
    z-index: 10;
    position: relative;
    float: right;
}

.footer_input_margin_top {
    padding: 8px 20px 0 20px;
}

.bg_img {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-2;
}